ion-avatar{
    width: 32px;
    height: 32px;
}

.hide{
    display: none;
}
.team1{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: red;
}

.team2{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: blue;
}