<ion-card>
  <ion-card-header>
    
    <div  class="flex-center">
      <ion-icon color="primary" src="../../../assets/icon/sports_basketball.svg"></ion-icon>       
      <p class="head-text"> Futbol</p>
    </div>
    
    <p class="match-date">Location</p>
    <div class="pariticipants"class="flex-center">
      <p class="head-text"> 5/10 </p>
      <ion-icon name="accessibility-outline"></ion-icon>
    </div>
  </ion-card-header>  


  <ion-card-content class="matchInfo">
    
    <p>Match Title</p>


    <div  class="matchCardBot ">
      <ion-icon name="location-outline"></ion-icon>
      <p class="match-date">25/3 16:45h</p>
      <ion-button (click)="gotoMatch()"  fill="transparent">
        <ion-icon slot="icon-only" color="primary" name="send"></ion-icon>
      </ion-button>
      
    </div>

    
  </ion-card-content>
</ion-card>